<% if obj.errors.any? %>
  <div class='row'>
   <div class='col-xs-8 col-xs-offset-2'>
     <div class='panel panel-danger'>
       <div class='panel-heading'>
           <% if obj.class == User %>
              <h2 class='panel-title'><%= pluralize(obj.errors.count, 'error') %> prevented you from signing up:</h2>
           <% elsif obj.class == Article %>
              <h2 class='panel-title'><%= pluralize(obj.errors.count, 'error') %> prevented your article from being saved:</h2>
           <% end  %>
         <div class='panel-body'>
           <ul>
             <% obj.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
           </ul>
         </div>
       </div>
     </div>
   </div> 
  </div>
<% end%>