<div class="center jumbotron">
  <style>
    a:visited {
      color: #ffff;
    }
    a:link {
    color: #ffff;
    }  
  </style>
  <h1>
    MONOLITH FUNDAMENTALS
  </h1>
  <%=link_to 'Join Today', '#', class: 'btn btn-lg btn-xlarge'%>
</div>

