<div class="center jumbotron-home">
  <style>
    a:visited {
      color: #ffff;
    }
    a:link {
    color: #ffff;
    }  
  </style>
  <h1>
    <strong>MONOLITH FUNDAMENTALS</strong>
  </h1>
  <% if not logged_in? %>
    <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-xlarge mv-down" %>
  <% end %>
</div>

